.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.Grid {
  margin: 10px;
  border: 5px solid yellow;
  padding: 5px;
}

.Cell {
  margin: 10px;
  border: 5px solid green;
  padding: 5px;
  float: left;
  background-color: whitesmoke;
}

.Yellow {
  background-color: yellow;
}

.CellTwo {
  width: 50px;
  margin: 5px;
  border: 5px solid green;
  padding: 5px;
  float: left;
  background-color: whitesmoke;
}

.CellOne {
  width: 50px;
  margin: 5px;
  border: 5px solid green;
  padding: 5px;
  float: left;
  background-color: yellow;
}

.White {
  background-color: whitesmoke;
}
